<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">    
        {{ site.tagline1 }}<br>
        {{ site.tagline2 }}<br>
        <span class="tagline-small">{{ site.tagline3 }}</span>
        <!-- {{ site.description | newline_to_br }} -->
      </p>
    </div>

    <nav class="sidebar-nav">

      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">About</a>

      {% assign pages_list = site.pages | sort: "nav_order" %}

      {% assign before_github = pages_list | where_exp: "item", "item.nav_order <= 2" %}
      {% for node in before_github %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>

      {% assign after_github = pages_list | where_exp: "item", "item.nav_order > 2" %}
      {% for node in after_github %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

    </nav>

  </div>
</div>
